# git ls-files --others -i --exclude-standard

/assets/stderr.txt
/assets/stdout.txt
/Resources/
/Info.plist
/Info_d.plist




/game_d.app/
/game.app/
/game_d32
/game_d64
/game_x32
/game_x64
/lsbappchk_filtered.txt
/lsbappchk_full.txt

*~


!/jni/external/bin/*/*.dll
!/jni/external/lib/*/*.lib
!/jni/external/libvorbis/macos/*.exp
!/jni/external/sdl/src/hermes/COPYING.LIB
